
<p>
    <img src="http://s.gravatar.com/avatar/c2c65ff471446154bc2572b3ee0acb6e.png" alt="Nicolas Charrier" title="Follow me on Twitter @nicolascharrier"  class="img-rounded floatLeft" />			
    <a href="http://twitter.com/hashtag/webdev">#webdev</a> <br>
    <a href="http://twitter.com/hashtag/pkflow">#pkflow</a> practitioner <br>
    <a href="http://twitter.com/hashtag/agile">#agile</a> mindset <br>
    <a href="http://twitter.com/hashtag/books">#books</a> lover
</p>					
<p><a href="https://twitter.com/nicolascharrier" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @nicolascharrier</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/nicolascharrier" rel="me" class="social github" title="Go to github.com/erjjones" target="_blank"></a></li>
	  <li><a href="https://fr.linkedin.com/in/nicolas-charrier-7251ab7" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/nicolascharrier" rel="me" class="social twitter" title="Go to twitter.com/nicolascharrier" target="_blank"></a></li>		
	</ul>
</p>